/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para o cabeçalho */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o título */
h1 {
    font-size: 24px;
}

/* Estilo para os botões */
.button {
    background-color: #28a745;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #218838;
}

/* Estilo para o vídeo da câmera */
#camera {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 600px;
}

#video {
    width: 100%;
}

/* Estilo para o rodapé */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
